html, body {
	margin:0;
	padding:0;
}
body{
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	background-color: #eee;
	color: #444;
	font-size: 75%;
}
a{
	color: #27D;
	text-decoration: none;
}
a:focus, a:hover, a:active {
	text-decoration: underline;
}
p, li {
	line-height: 1.8em;
}
p {
    margin:0.5em 0 0.5em 0;
}
h1, h2 {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	margin: 0 0 8px 0;
	letter-spacing: -1px;
}
h1 {
	padding: 0;
	font-size: 2.5em;
	color: #333;
    display: inline-block;
}
h2 {
	font-size:1.8em;
}
pre {
	font-size: 1.2em;
	line-height: 1.2em;
	overflow-x: auto;
}
div#page {
	width: 99%;
    max-width: 780px; /* should be set to [the maximum width of an image (including border/shadow)] times 1.5 */
    min-width: 313px; 
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	border-color: #ddd;
	border-style: solid solid solid; /* "none solid solid" if not using header */
	border-width: 1px 1px 1px;
	border-radius: 8px; /* round out edges */
	/*height: 780px; */ /* can be set to keep page size constant; make about 200px greater than tallest image; ugly on small devices. */
}
div#container {
	padding: 20px;
}
div#ads {
	clear: both;
	padding: 12px 0 12px 66px;
}
div#footer {
	clear: both;
	color: #777;
	margin: 0 auto;
	padding: 15px 0 30px;
	text-align: center;
}
div.navigation a.prev {
	background-image: url(prevPageArrow.gif);
}
div.navigation a.next {
	background-image: url(nextPageArrow.gif);
}

